{% extends 'base.html' %}

{% block content %}
    <section>
        <h2 class="sub-title">Latest recipes</h2>
        {% include 'recipes_template.html' %}
    </section>

    {% if current_user.is_authenticated %}
        <h2 class="sub-title">Latest recipes from people you follow</h2>
        <div class="recipe-container">
            <section class = "recipe-grid">
                {% for user in current_user.following %}
                    {% for recipe in user.recipes %}
                        {% include 'recipe_template.html' %}
                    {% endfor %}
                {% endfor %}
            </section>
        </div>
    
    {% endif %}
    <a href="{{ url_for('main.new_recipe') }}">
        <section class="recipe-form-container">
            <h2>Make a new recipe!</h2>
            <form action="{{ url_for('main.new_recipe') }}" method="post" class="recipe-form">
                <div class="form-group">
                    <input type="text" id="title" name="title" placeholder="Recipe name" required>
                </div>
                <div class="form-group">
                    <textarea id="description" name="description" placeholder="Recipe description" required></textarea>
                </div>
                <div class="form-group">
                    <div class="narrow-width">
                        <input type="text" id="servings" name="servings" placeholder="Serving size (e.g., 4 people)" required>
                    </div>
                    <div class="narrow-width">
                        <input type="text" id="cook_time" name="cook_time" placeholder="Cook time (e.g., 30 minutes)" required>
                    </div>
                </div>
                <div class="form-group">
                    <input class="recipe-button" type="submit" value="Create!"/>
                </div>
            </form>
        </section>
    </a>

    
{% endblock %}