{% extends 'base.html' %}

{% block create %}
    <div>
        <!-- CURRENT RECIPE INFORMATION -->
        <div class="recipe-details-section">
            <h2 class="sub-title">Add Recipe Information</h2>
            <!-- DISPLAY CURRENT INFORMATION ON THE RECIPE -->
            <div class="recipe-create-card">
                <span>
                    <div class="recipe-title">{{ recipe.title }}</div>
                    <div class="recipe-author">By: {{ recipe.user.name }}</div>
                </span>
                <div class="recipe-description">{{ recipe.description }}</div>
                <div class="recipe-details">
                    <div class="servings"><b>Servings:</b> {{ recipe.servings }}</div>
                    <div class="cooktime"><b>Cook Time:</b> {{ recipe.cook_time }}</div>
                    <div class="ingredients"> <b>Ingredients:</b>
                        <ul>
                            {% for qi in recipe.quantified_ingredients %}
                                <li>{{ qi.ingredient.name }} {{ qi.amount }} {{ qi.unit }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="steps"><b>Steps:</b> 
                        <ol>
                            {% for step in recipe.steps %}
                                <li>{{ step.description }}</li>
                            {% endfor %}
                        </ol>
                    </div>
                </div>
            </div>

        <!-- FORM TO ADD INGREDIENTS -->
        <div class="recipe-container"> 
            <div class="side-section">
                <form class="recipe-form" action="{{ url_for('main.new_ingredient', recipe_id=recipe.id) }}" method="post">
                    <div class="form-group">
                        <label for="ingredient">Ingredient</label>
                        <input type="text" placeholder="Add an ingredient (e.g. flour)" name="ingredient" list="ingredients">
                        <datalist id="ingredients">
                            {% for ingredient in ingredients %}
                                <option>{{ ingredient.name }}</option>
                            {% endfor %}
                        </datalist>
                    </div>
                    <div class="form-group narrow-width">
                        <label for="amount">Quantity</label>
                        <input type="text" name="amount" placeholder="Ingredient amount (e.g. 2)" required>
                        <input type="text" name="quantity" list="quantities" placeholder="Add a unit (e.g. cups)">
                        <datalist id="quantities">
                            <option value="teaspoon(s)">
                            <option value="tablespoon(s)">
                            <option value="millimeter(s)">
                            <option value="cup(s)">
                            <option value="gram(s)">
                            <option value="kilo(s)">
                        </datalist>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Add Ingredient" class="recipe-button">
                    </div>
                </form>
            </div>
    
            <!-- FORM TO ADD STEPS -->
            <div class="side-section">
                <form class="recipe-form" action="{{ url_for('main.new_step', recipe_id=recipe.id) }}" method="post">
                    <div class="form-group">
                        <label for="step">Step</label>
                        <textarea placeholder="Add a step" name="step"> </textarea>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Add Step" class="recipe-button">
                    </div>
                </form>
            </div>
        </div>
        </div>
        

    <!-- BUTTON TO MARK RECIPE COMPLETE -->
    <form class="recipe-form" action="{{ url_for('main.complete_recipe', recipe_id=recipe.id) }}" method="post">
        <div class="form-group">
            <input type="submit" value="Publish Recipe!" class="recipe-button">
        </div>
    </form>
{% endblock %}
