<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>BELI</title>
        <link rel="stylesheet"
              href="{{ url_for('static', filename='beli.css') }}">
    </head>
    <body>
        <header>
            <h1>Recipes (BELI)</h1>
            <a href="{{ url_for('main.index') }}">Home</a>

            {% if current_user.is_authenticated: %}
                <div>User: {{current_user.name}}</div>
                <a href="{{ url_for('auth.log_out') }}">Logout</a>
            {% endif %}
        </header>
        <section class="content">
            {% block content %}{% endblock %}
        </section>

        <section class="userProfile">
           {% block prof %}{% endblock %}
        </section>
        <footer><small>Developed for Web applications only by Michael Cronin</small></footer>
    </body>
</html>
