{% extends 'base.html' %}

{% block content %}
    <h2>Log In!</h2>
    <form class="auth-form" action="{{ url_for('auth.login') }}" method="post">
        <div><label class="page-title">Email: <input type="email" name="email" required/></label></div>
        <div><label class="page-title">Password: <input type="password" name="password" required/></label></div>
        <div><input class="recipe-button" type="submit" value="Log in"/></div>
        <a href="{{ url_for('auth.signup') }}">Sign up here if you haven't already!</a>
    </form>

    {% with messages = get_flashed_messages() %}
        {% for message in messages %}
            <div class="notification">{{ message }}</div>
        {% endfor %}
    {% endwith %}
{% endblock %}